*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.div-flex{
    position: relative;
}
.div1{
     position: fixed;
     top: 0;
     left: 0;
     width: 20%;
    
}
.div2{
     width: 100%;
     margin-left: 20%;
}

@media (max-width: 426px) {
    .div-flex{
        position: relative;
    }
    .div2{
        width: 100%;margin-left: 1px;position: fixed;top: 0;left:0;

    }
    .div1{
    width: 20%; position: absolute;z-index: 100;
    }
}


